<center>
<p><a rel="noopener" target="_blank" href="mailto:me@leoventuroso.com" aria-label="email-link">Email</a> | 
<a rel="noopener" target="_blank" href="https://github.com/leoventuroso" aria-label="github-link">GitHub</a> | 
<a rel="noopener" target="_blank" href="https://mas.to/@duarteocarmo" aria-label="mastodon-link">Mastodon</a> | 
<a rel="noopener" target="_blank" href="https://twitter.com/Pastasuta20" aria-label="twitter-link">X</a> | 
<a rel="noopener" target="_blank" href="https://www.linkedin.com/in/leonardo-venturoso" aria-label="linkedin-link">LinkedIn</a> | 
<a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">RSS</a></p>
</center>
